In [1]:
print ("question no 1");
print("twinkle, twinkle, little star,");
print("       how i wonder what you are!");
print("                  Up above the world so high,")
print("                  Like a diamond in the sky,")
print("twinkle, twinkle little star, ");
print("       How i wonder what you are");

question no 1
twinkle, twinkle, little star,
       how i wonder what you are!
                  Up above the world so high,
                  Like a diamond in the sky,
twinkle, twinkle little star,
       How i wonder what you are

In [5]:
print("question no 2");
import sys
print(sys.version);

question no 2
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [6]:
print("question no 3");
from datetime import datetime
now = datetime. now()
print (now.strftime("%Y-%m-%d %H:%M:%S"))

question no 3
2021-10-22 05:53:13

In [7]:
print("queswtion no 4")
from math import pi
radius = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(radius) + " is: " + str(pi * radius**2))

queswtion no 4
Input the radius of the circle : 43
The area of the circle with radius 43.0 is: 5808.804816487527

In [13]:
print("question no 5")
firstname = input("Input your First Name : ")
lastname = input("Input your Last Name : ")
print ("Hello  " + lastname + " " + firstname)

question no 5
Input your First Name : bisma
Input your Last Name : shahzad
Hello  shahzad bisma

In [14]:
print("hello");

hello

In [16]:
print("question no 6")
a = int(input("enter first number: "))
b = int(input("enter second number: "))
 
sum = a + b
 
print("sum:", sum)

question no 6
enter first number: 98
enter second number: 63
sum: 161

In [1]:
print("question no 7")
  
english = float(input("Please enter English Marks: "))
math = float(input("Please enter Math score: "))
computers = float(input("Please enter Computer Marks: "))
physics = float(input("Please enter Physics Marks: "))
chemistry = float(input("Please enter Chemistry Marks: "))
 
total = english + math + computers + physics + chemistry
average = total / 5
percentage = (total / 500) * 100
 
print("\nTotal Marks = %.2f"  %total)
print("Average Marks = %.2f"  %average)
print("Marks Percentage = %.2f"  %percentage)

question no 7
Please enter English Marks: 74
Please enter Math score: 73
Please enter Computer Marks: 62
Please enter Physics Marks: 54
Please enter Chemistry Marks: 54

Total Marks = 317.00
Average Marks = 63.40
Marks Percentage = 63.40

In [2]:
print("question no 8")
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

question no 8
Enter a number: 64
64 is Even

In [4]:
print("question no 9")
test_list = [ 1,7,10, 9, 6, 8, 2, 4, 5 ]

print ("The list is : " + str(test_list))

counter = 0
for i in test_list:

 counter = counter + 1

print ("Length of list using naive method is : " + str(counter))

question no 9
The list is : [1, 7, 10, 9, 6, 8, 2, 4, 5]
Length of list using naive method is : 9

In [6]:
print("question no 10")
def sum_list(items):
    sum_numbers = 0
    for x in items:
        sum_numbers += x
    return sum_numbers
print(sum_list([1,2,-8,16,98,-67]))

question no 10
42

In [7]:
print("question no 11")
list1 = [10, 20, 4, 45, 99]

list1.sort()
print("Largest element is:", list1[-1])

question no 11
Largest element is: 99

In [8]:
print("question no 12")
print (""" The question is :-\n Take a list, say for example this one:\n
  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]\n
and write a program that prints out all the elements of the list that are less than 5.
           And i will program accordingly.\n""")

test_list= [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
for element in test_list:
    if(int(element) <5):
        print(str(element)+"\n")

question no 12
 The question is :-
 Take a list, say for example this one:

  a = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

and write a program that prints out all the elements of the list that are less than 5.
           And i will program accordingly.

1

1

2

3